<section class=" d-flex position-relative justify-content-center align-items-center w-100 h-100">
    <img class="img-fluid object-fit-contain position-absolute w-100 h-100 z-0" src="assets/img/ranger.png" alt="Ranger">
    <div class="card shadow-lg col-9 col-md-7 h-50 opacity-75">
        <div class="card-header">
            <p class="h3">Sistemas de dados FORD</p>
        </div>
        <div class="card-body">
            <p class="h3 text-primary">Seja bem vindo(a)!</p>
        </div>
    </div>
</section>