<table class="mt-2 table">
  <thead>
    <tr>
      <th class="px-4">VIN</th>
      <th class="px-4">ODÔMETRO</th>
      <th class="px-4">NÍVEL DO COMBUSTÍVEL</th>
      <th class="px-4">STATUS</th>
      <th class="px-4">LAT</th>
      <th class="px-4">LONG</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input type="text" placeholder="2FRHDUYS2Y63NHD22454" (input)="buscarInfo($event)">
      </td>
      <td class="px-4">{{veiculo_data.odometro}} Km</td>
      <td class="px-4">{{veiculo_data.nivelCombustivel}}%</td>
      <td class="px-4">{{veiculo_data.status}}</td>
      <td class="px-4">{{veiculo_data.lat}}</td>
      <td class="px-4">{{veiculo_data.long}}</td>
    </tr>
  </tbody>
</table>
