<section class="d-flex gap-3 justify-content-around">
  <div class="shadow border border-black p-3 rounded-2">
    <h2>Veículos</h2>
    <select>
      <option value="">Territory</option>
      <option value="">Mustang</option>
      <option value="">Bronco</option>
      <option value="">Ranger</option>
    </select>
  </div>

  <app-card />
  <app-card />
  <app-card />
</section>

<section>
  <img src="" alt="">
</section>

<section>
  <table class="mt-2 table">
    <thead>
      <tr>
        <th class="px-4">VIN</th>
        <th class="px-4">ODÔMETRO</th>
        <th class="px-4">NÍVEL DO COMBUSTÍVEL</th>
        <th class="px-4">STATUS</th>
        <th class="px-4">LAT</th>
        <th class="px-4">LONG</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="text">
        </td>
        <td class="px-4">80000 Km</td>
        <td class="px-4">90%</td>
        <td class="px-4">ON</td>
        <td class="px-4">-32.2617</td>
        <td class="px-4">14.2913</td>
      </tr>
    </tbody>
  </table>
</section>
