<form class="p-3 shadow">
  <div class="mb-3">
    <label for="usuario" class="form-label">Usuário:</label>
    <input type="text" class="form-control" id="usuario" [(ngModel)]="loginForm.nome" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="mb-3">
    <label for="senha" class="form-label">Senha:</label>
    <input type="password" class="form-control" id="senha" [(ngModel)]="loginForm.senha" [ngModelOptions]="{standalone: true}">
  </div>
  <button (click)="login()" type="submit" class="btn btn-primary">Entrar</button>
</form>
