<!-- <div class="d-flex h-100"> -->
<div class="row g-0 h-100">
    <figure class="col-md-6 d-none d-md-flex justify-content-center align-items-center mb-0">
        <img class="object-fit-contain img-fluid" src="assets/img/ranger.png" alt="Ranger">
    </figure>
    <section class="col-12 col-md-6 d-flex flex-column align-items-center bg-light">
        <figure class="logo d-flex pt-2">
            <img class="img-fluid object-fit-contain" src="assets/img/ford.png" alt="Ford">
        </figure>
        <div class="d-flex align-items-center flex-column justify-content-center w-100 h-100 px-4 px-md-5">
            <section class="d-flex flex-column justify-content-center align-content-center text-center">
                <p class="h1 text-success">Boas-vindas</p>
            </section>
            <app-login-form class="w-100"></app-login-form>
        </div>
    </section>
</div>