<div class="d-flex h-100">
    <figure class="w-50 d-flex justify-content-center">
        <img class="object-fit-contain img-fluid" src="assets/img/ranger.png" alt="Ranger">
    </figure>
    <section class="d-flex w-50 flex-column align-items-center bg-light">
        <figure class="logo d-flex pt-2">
            <img class="img-fluid object-fit-contain" src="assets/img/ford.png" alt="Ford">
        </figure>
        <div class="d-flex align-items-center h-100">
            <app-login-form></app-login-form>
        </div>
    </section>
</div>